@model Post
@{
    ViewData["Title"] = "Post Details";
    var userId = Context.Session.GetString("userId");
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Content</p>
        <a asp-action="Index" class="btn btn-secondary">Back</a>
        @if (userId != null && int.Parse(userId) == Model.AuthorId)
        {
            <a class="btn btn-warning" href="/Posts/Edit/@Model.Id">Edit</a>
        }
    </div>
</div>
