@model BBS.Domain.Entities.User
@using System.Linq
@{
    ViewData["Title"] = "Member Details";
}
<h1>Member Details</h1>
<dl class="row">
    <dt class="col-sm-2">Email</dt>
    <dd class="col-sm-10">@Model.LoginId</dd>
    <dt class="col-sm-2">Nickname</dt>
    <dd class="col-sm-10">@Model.Nickname</dd>
    <dt class="col-sm-2">Roles</dt>
    <dd class="col-sm-10">@string.Join(", ", Model.UserRoles.Select(ur => ur.Role.Name))</dd>
</dl>
<a class="btn btn-secondary" asp-action="Index">Back to List</a>
